<h1>Posted through Collective</h1>
Created by: {{creator}} on {{prettyDate createdOn}}
<h2>Posted to:</h2>
<ul>
{{#each this.posts}}<li>{{accountType}} on {{prettyDate sent}}</li>{{/each}}
</ul>
<h2>Post:</h2>
<div class="Post">{{this.post}}</div>
{{#if this.imageFile}}<img src="/posts/image/{{stripToFilename this.imageFile}}" width="200">{{/if}}
